nav a {
    font-size: .75em;
    color: black;
}

.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
}

nav .nav-item {
    position: relative;
    bottom: 6px;
}

h1 {
   text-align: center;
    text-transform: uppercase;
    font-size: 64px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
}

main {
    font-family: 'Anton', sans-serif;
}
/*.orange-circle{*/
/*    background: orange;*/
/*    width: 2em;*/
/*    height: 2em;*/
/*    border-radius: 1em;*/
/*    margin: .5em;*/
/*    box-sizing: border-box;*/
/*    display: flex;*/
/*}*/
/*.container {*/
/*    display: flex;*/
/*}*/
/*.holder {*/
/*    flex: 1;*/
/*    margin: 1%;*/
/*    border-radius: 50%;*/
/*}*/
/*.holder:before {*/
/*    content: "";*/
/*    display: inline-block;*/
/*    padding-top: 100%;*/
/*}*/
/*.h1 {*/
/*    background: blue;*/
/*}*/
/*.h2 {*/
/*    background: red;*/
/*}*/
/*.h3 {*/
/*    background: green;*/
/*}*/
/*.h4 {*/
/*    background: grey;*/
/*}*/
.flex-container {
    display: flex;
    background-color: #DDD8D8;
    justify-content: center;
}

.flex-container > div {
    background-color: #f1f1f1;
    height: 25px;
    width: 25px;
    padding: 29px;
    margin: 17px;
    border-radius: 50%
}