nav a {
    font-size: .75em;
    color: black;
}

.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
    background-color: white;
}

nav .nav-item {
    position: relative;
    bottom: 6px;
}

article {
    font-family: 'Anton', sans-serif;
}

h1 {
   text-align: center;
    text-transform: uppercase;
    font-size: 64px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
}

body {
    font-family: 'Anton', sans-serif;
    background-color: #E6E6E6;
}
.flex-container {
    display: flex;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    color: white;
    text-transform: uppercase;
}

.flex-container > div {
    background-color: #f1f1f1;
    height: 100px;
    width: 100px;
    padding: 29px;
    margin: 17px;
    border-radius: 50%;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: white 8px solid;

}
hr {
    width: 50%;
}

h5 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Abel', sans-serif;
    padding: 15px;
}

.container {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
}

.projectImg {
    height: 13rem;
    width: 20rem;
    border: #F0F0F0 8px solid;

}

.featuredProjects {
/*margin-bottom: 4rem;*/

}


.flex-container2 {
    display: flex;
    /*justify-content: center;*/
    font-family: 'Anton', sans-serif;
    color: black;
    text-transform: uppercase;
    /*justify-content: flex-end;*/
    margin-bottom: 4rem;
}

.flex-container2 > div {
    height: 18px;
    width: 18px;
    margin: 5px;
    border-radius: 15px;
    font-size: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.featuredProjects.flex-container2 {
    justify-content: flex-end;
    display: flex;
}

.circles {
    /*margin: 5px;*/
}